// Copyright (c) 2021 StreamSets Inc.
//

// StreamSets Data Collector Policy File

// StreamSets code base:
grant codebase "file://${sdc.bootstrapLib.dir}/-" {
  permission java.security.AllPermission;
};
grant codebase "file://${sdc.rootLib.dir}/*" {
  permission java.security.AllPermission;
};
grant codebase "file://${sdc.apiLib.dir}/*" {
  permission java.security.AllPermission;
};
grant codebase "file://${sdc.containerLib.dir}/*" {
  permission java.security.AllPermission;
};
grant codebase "file://${sdc.librariesExtras.dir}/-" {
  permission java.security.AllPermission;
};
// StreamSets stage libraries code base:
grant codebase "file://${sdc.libraries.dir}/-" {
  permission java.security.AllPermission;
};
grant codebase "file://${sdc.userLibs.dir}/streamsets-datacollector-dev-lib/-" {
  permission java.security.AllPermission;
};
// Groovy will parse files in a different context, so we need to grant it additional privileges
grant codebase "file:/groovy/script" {
  permission java.lang.RuntimePermission "accessDeclaredMembers";
  permission java.lang.RuntimePermission "getClassLoader";
};

// For details on how to grant specific permissions, refer to the Java Permissions Documentation:
//   http://docs.oracle.com/javase/7/docs/technotes/guides/security/permissions.html

// User stage libraries code base:
grant codebase "file://${sdc.userLibs.dir}/-" {
  permission java.util.PropertyPermission "*", "read";
  permission java.lang.RuntimePermission "accessDeclaredMembers";
  permission java.lang.reflect.ReflectPermission "suppressAccessChecks";
  permission java.io.FilePermission "${sdc.dist.dir}/externalResources/user-libs/streamsets-datacollector-dev-lib/lib/*", "read";
};

// For JARs to be available to all stage libraries
grant codebase "file://${sdc.libsCommon.dir}/-" {
  permission java.security.AllPermission;
};
